.main {
  margin-top: 20px;
  text-align: center;
}
#name {
  display: inline;
  width: 200px;
  height: 50px;
}

.form {
  margin-top: 20px;
}
#input {
  width: 50%;
  height: 30%;
  font-size: 30px;
}

#ul {
  display: inline-block;
  width: 800px;
  margin: 10px;
  font-size: 20px;
  overflow: hidden;
  margin: 40px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
li {
  text-align: center;
  margin-top: 10px;
  display: inline-block;
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
}
li .divElements {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
.buttons {
  margin-left: auto;
  margin-right: 0px;
}

li .text {
  padding-right: 15px;
  text-align: left;
}
